<section id="contact" class="flex flex-col items-center text-center pb-16">
    <h2 class="text-3xl font-semibold mb-4">{{ 'contact.title' | translate }}</h2>
    <p class="text-gray-500 max-w-lg">
      {{ 'contact.description' | translate }}
    </p>
    <div class="mt-6 space-y-2">
      <p class="text-lg text-gray-700">
        📧 {{ 'contact.email' | translate }}:
        <a href="mailto:your.email&#64;example.com" class="text-blue-500 hover:underline">
          wisch.dev&#64;gmail.com
        </a>
      </p>
      <p class="text-lg text-gray-700">
        📞 {{ 'contact.phone' | translate }}:
        <a href="tel:+1234567890" class="text-blue-500 hover:underline">
          +55 (77) 98159-8181
        </a>
      </p>
    </div>
  </section>
  