/* home-page.component.css (ou arquivo de estilos global) */
button:focus {
    outline: none;
  }
  
  button:hover .w-6 {
    transform: scale(1.1);
  }
  

  .dark-fill-current path {
    fill: white; /* Altere para a cor desejada */
  }
  
  