<section class="flex flex-col items-center justify-center h-[600px]">
  <div id="about" class="w-4/5 flex justify-between mx-auto md:mx-0">
    <div class="w-full md:w-1/2 flex items-center justify-center md:justify-start">
      <div class="flex flex-col items-center md:items-start text-center md:text-left">
        <h2 class="text-3xl font-semibold mb-4">{{ 'FULLSTACK_DEVELOPER' | translate }} 👋🏻</h2>
        <p class="text-lg text-gray-600 dark:text-gray-400">{{ 'HELLO' | translate }} 💻🌟</p>
        <div class="flex flex-row gap-3 pt-4">
          <a href="https://github.com/Wisch096" target="_blank" rel="noopener noreferrer">
            <img *ngIf="isDarkMode" src="../assets/github_claro.svg" alt="" class="w-8 h-8">
            <img *ngIf="!isDarkMode" src="../assets/github_dark.svg" alt="" class="w-8 h-8">
          </a>
          <a href="https://linkedin.com/in/devmatheuswisch/" target="_blank" rel="noopener noreferrer">
            <img *ngIf="isDarkMode" src="../assets/linkedin_claro.svg" alt="" class="w-8 h-8">
            <img *ngIf="!isDarkMode" src="../assets/linkedin_escuro.svg" alt="" class="w-8 h-8">
          </a>
          <a href="/caminho/para/seu/curriculo.pdf" download="Curriculo_Matheus_Wisch.pdf" class="flex items-center gap-2 px-4 py-2 rounded-lg transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
            </svg>
            <span class="text-black dark:text-white">{{ 'DOWNLOAD_CV' | translate }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
    <div class="w-1/2" *ngIf="!isMobile">
      <app-profile-icon></app-profile-icon>
    </div>
</section>

<section class="pb-16 flex flex-col">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-semibold text-center mb-8">{{ 'CAREER' | translate }}</h2>
    <div class="max-w-2xl mx-auto">
      <p class="text-lg text-gray-600 dark:text-gray-400 mb-8">
        {{ 'CAREER_DESCRIPTION' | translate }}
      </p>
      <div class="space-y-8">
        <div>
          <h3 class="text-2xl font-semibold">2024 - EadTech 🇧🇷 - {{ 'ROLE_1' | translate }}</h3>
          <p class="text-lg text-gray-600 dark:text-gray-400">
            {{ 'ROLE_1_DESCRIPTION' | translate }}
          </p>
        </div>
        <div>
          <h3 class="text-2xl font-semibold">2023 - Conceito Tecnologia 🇧🇷 - {{ 'ROLE_2' | translate }}</h3>
          <p class="text-lg text-gray-600 dark:text-gray-400">
            {{ 'ROLE_2_DESCRIPTION' | translate }}
          </p>
        </div>
        <div>
          <h3 class="text-2xl font-semibold">2022 - TopSoft Informática 🇧🇷 - {{ 'ROLE_3' | translate }}</h3>
          <p class="text-lg text-gray-600 dark:text-gray-400">
            {{ 'ROLE_3_DESCRIPTION' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-projects></app-projects> -->

<app-contact></app-contact>